body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background: rgb(88, 12, 27);
    font-family: sans-serif;
}

.main-game{
    background: #111;
    background-image: url(/pexels-pixabay-41951.jpg);
    width: 900px;
    height: 600px;
}

.hero{
    position: relative;
    width: 150px;
    height: 100px;
    left: 20px;
    top: 250px;
}